---
layout: page
title: Extension guide
permalink: /extension.html
css: syntax
group: Extension
---
<div class="toc">
    <a class="toc-link toch2" href="#extend">Extending Player for your Game</a>
    <a class="toc-link toch3" href="#extend#draw">Linking Game Stats to Drawing</a>
    <p class="toc-caption"></p>
    <p class="toc-toggle">toggle TOC (ctrl + &#8660;)</p>
</div>
<div class="block">

    <div class="text-block">
        <p>
            All extensions should be defined before <code>da.load().then(...)</code>
        </p>
    </div>

<h2 class="anchor">Extending Player for your Game <a class="anchor-link"
                                                     title="permalink to section" href="#extend"
                                                     name="extend">&para;</a></h2>
<div class="text-block">
    <p>
        To add stats and Mods relevant for your game, define a property on the da.limit
        objects, which provides a statistical description of that poperty.
        You will want to connect the statistic you create to how physical dimensions are calculated,
        which is detailed in the next section.
    </p>
</div>

{% highlight javascript %}
// create additional core stat of int (intelligence) with default value of 5
// give the stat some bounds and distribution
da.statLimits["int"] = {
    low: 0,
    high: 10,
    avg: 5,
    stdev: 2.5,
    bias: 0.3
};

// you can do the same with modifiers
// as soon as you create a new stat, a new modifier will automatically be created
da.modLimits["tanned"] = {
    low:0,
    high:1e9,
    avg:1,
    stdev:2,
    bias:0
};
{% endhighlight %}

<div class="text-block">
    <p>
        You can also add non-statistic properties to every Player object by default.
    </p>
</div>

{% highlight javascript %}
// every Player will have an action stack they'll want to complete
da.Player.defaultProperties.todo = [];

// every Player will track who's their friend
da.Player.defaultProperties.friends = [];
{% endhighlight %}


<h3 class="anchor">Linking Game Stats to Drawing <a class="anchor-link"
                                                    title="permalink to section"
                                                    href="#extend#draw"
                                                    name="extend#draw">&para;</a></h3>
<div class="text-block">
    <p>
        OK so now you defined properties for your own game, but they don't do anything to affect the drawing!
        You must link your game properties to how specific physical dimensions are calculated.
    </p>
</div>

{% highlight javascript %}
// the first argument is a string of {skeleton}.{dimension}
// base is the dimension value calculated from all functions before
da.extendDimensionCalc("human.handSize", function (base) {
    return base + this.get("int") * 2;
});
{% endhighlight %}

    <div class="text-block">
        <p>
            These methods have the avatar as the <code>this</code> argument, which means you can call
            functions like <code>this.getDim(...)</code> and <code>this.get(...)</code>.
            See <code>src/player/dimensions.js</code> for some functions you might want to use in your calculations.
        </p>
    </div>
</div>
